*.env
*/cache/__pycache__/
/intelemi_translator_env
/intelemi_translator_venv
*/.gradio
*/__pycache__/
*\gemini_model\cache\cache_registry.json
*chat_history.json
*/history/__pycache__/
*/cache/__pycache__/
*/media/__pycache__/
*.json
*.pyc
*/data/__pycache__/
/gemini_model/cache/cache_registry.json

